#books-grid{
  padding-top: 20px;
}
#books-grid h2{
  font-size: 24.5px;
  margin-bottom: 8px;
}
.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 2px;
}

.book-card {
  flex: 1 1 calc(25% - 20px); /* 4 books per row */
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-card h2 {
  font-size: 1.25em;
  margin-bottom: 8px;
}

.book-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto 15px auto; /* Center the image horizontally and add margin at the bottom */
}

.book-card p {
  margin: 4px 0;
}

.book-card a {
  display: inline-block;
  margin-top: auto; /* Push the link to the bottom */
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.book-card a:hover {
  background-color: #0056b3;
}
