.navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  color: #49557e;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid rgb(74, 71, 255);
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar button:hover {
  background-color: #f2f4ff;
}

.navbar li {
  cursor: pointer;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s;
}

.navbar li:hover,
.navbar li.active {
  color: rgb(71, 102, 255);
}

.navbar li::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #49557e;
  left: 50%;
  bottom: 0;
  transition: width 0.3s, left 0.3s;
}

.navbar li:hover::after,
.navbar li.active::after {
  width: 100%;
  left: 0;
}

.navbar-search-icon {
  position: relative;
  cursor: pointer;
}

.navbar-search-icon:hover {
  color: rgb(71, 86, 255);
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: rgb(71, 77, 255);
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }
  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }
  .navbar-right {
    gap: 30px;
  }
  .navbar-right img {
    width: 22px;
  }
  .navbar-right button {
    padding: 8px 22px;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }
  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }
  .navbar-right {
    gap: 20px;
  }
  .navbar-right img {
    width: 20px;
  }
  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    display: none;
  }
}
