.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    margin-top: 10px;
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: rgb(31, 34, 116);
    font-size: 18.5px;
    cursor: pointer;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.navbar-right img {
    border: 3px solid rgb(20, 20, 105);
    border-radius: 100%;
    transition: transform 0.3s ease;
    width: 35px;  /* Ensure images are the same size */
    height: 35px; /* Ensure images are the same size */
    object-fit:scale-down;
    cursor: pointer;
}

.navbar-right img:hover {
    transform: scale(1.2);
}
.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }