.book-info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
  
  .book-info-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: min(80vw, 500px); /* Adjust width as needed */
    color: black;
    animation: fadeIn 0.5s;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .book-info-content h2 {
    margin-top: 0;
    color: blue;
  }
  
  .book-info-content p {
    margin: 10px 0;
  }
  
  .book-info-content strong {
    color: blue;
  }
  