-.header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added shadow */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  display: none;
  width: 100%;
  height: 500px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  align-items: center;
}

.carousel-item::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.642); 
  z-index: 1;
  border-radius: 8px; 
}

.carousel-item.active {
  display: block;
  
}

.carousel-item h1 {
  position: absolute;
  text-align: center;
  bottom: 20px;
  left: 20px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.carousel-indicators {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-left: 0;
  list-style: none;
  z-index: 2;
}

.carousel-indicators li {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #0b05af;
  box-shadow: inset 0 0 5px rgb(45, 139, 255);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  color: #000000;
  text-align: center;
  opacity: 1;
  cursor: pointer;
}

.carousel-control-prev {
  left: 30vh;
}

.carousel-control-next {
  right: 30vh;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url('../../assets/prev.png');
}

.carousel-control-next-icon {
  background-image: url('../../assets/next.png');
}
