.search-container {
  padding: 20px;
}

.search-header {
  text-align: center;
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.book-card {
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.book-card img {
  width: 100%;
  height: auto;
}

.book-card h3 {
  font-size: 1.2em;
}

.book-card p {
  color: #555;
}

.book-card button {
  display: block; /* Ensure buttons are displayed as block elements */
  margin: 5px auto; /* Center buttons horizontally */
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.book-card button:hover {
  background-color: #0056b3;
}


.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.viewer-container {
  width: 100vw;
  height: 100vh;
}
