.search-bar-container {
  display: flex;
  align-items: center;
  padding: 20px 2px;
}

.search-input {
  flex: 1; /* Take remaining space */
  padding: 8px; /* Add padding for better spacing */
  border: 1px solid #ccc; /* Add border for visual separation */
  border-radius: 4px; /* Round the corners */
}

.category-select {
  margin-left: 10px; /* Add margin between input and select */
  padding: 8px; /* Add padding for better spacing */
  border: 1px solid #ccc; /* Add border for visual separation */
  border-radius: 4px; /* Round the corners */
}

.search-button {
  margin-left: 10px; /* Add margin between select and button */
  padding: 8px 16px; /* Add padding for better spacing */
  background-color: #007bff; /* Set background color */
  color: #fff; /* Set text color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Round the corners */
  cursor: pointer; /* Add pointer cursor on hover */
}

.search-button:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
